#tabs {
    background-color: lightgrey;
}
#qs, #mainContent {
    position: relative;
}

#qs::before, #mainContent::before {
    opacity: 0.15;
    background-image: url("images/trivia-backdrop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    inset: 0;
    position: absolute;
    content:"";

}

@keyframes fade-in-out {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

#qSelectLoadingText {
    animation-name: fade-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;    
}

